
<!------ Include the above in your HEAD tag ---------->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<div class="wrapper fadeInDown mt-5">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
      <div class="loginFont">Login</div>
    </div>

    <!-- Login Form -->
    <form>
      <input type="email" id="login" class="fadeIn second form-control mt-3" name="userName" placeholder="username" #userName>
      <input type="password" id="password" class="fadeIn third form-control mt-3" name="password" placeholder="password" #password>
      <input type="submit" class="fadeIn fourth mt-5" value="Log In" (click)="login(userName.value, password.value)">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter" *ngIf="wrongCredentials">
      <p class="text-danger">Wrong username or password</p>
    </div>

  </div>
</div>